body {
    background-color: rgb(88, 64, 64);
color: rgb(255, 255, 255); 

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

background-image: url("assets/images/comuna.png");
background-size: cover;

}

img {
 width: 500;
 height: 400;
border-radius: 50px;


}